body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  margin: 0;
}

header {
  background-color: ghostwhite;
  border-bottom: 1px solid lavender;
  color: white;
  padding: 16pt;
}

main {
  background-color: mistyrose;
  border: 1px blue;
  color: black;
  padding: 0.5em;
  margin: 15px;
}

footer {
  background-color: mistyblue;
  color: black;
  padding: 0.5em;
}

code {
  background-color: cornsilk;
}
