body {
  font-family: menlo;
  font-size: 16pt;
  margin: 0;
}

header {
  background-color: Arial, Helvetica, sans-serif, ;
  border-bottom: 1px solid lavender;
  color: white;
  padding: 16pt;
}

main {
  background-color: green;
  border: 1px blue;
  color: black;
  padding: 1em;
  margin: 15px;
}

footer {
  background-color: orange;
  border-top: 5px solid crimson;
  color: black;
  padding: 1em;
}
